strong,
.slide-pane__overlay .slide-pane .slide-pane__title {
	font-weight: bold;
}

.slide-pane__overlay .slide-pane .slide-pane__title {
	font-size: 2rem;
}

.slide-pane__header {
	background: #EEEEEE;
}

.subscription-item {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}