$border-color: #333333;

.table {
	width: 100%;
	border: 1px solid $border-color;
  border-radius: 7px;
  border-spacing: 0;
	border-collapse: separate;

	td, th {
    border-bottom: 1px solid $border-color;
		border-right: 1px solid $border-color;
    padding: 0.5rem;
    text-align: center;

		&:last-child {
			border-right: none;
		}
	}

	tr:first-child {
		border-top: 1px solid $border-color;
	}

	.thead {
		td {
			font-weight: bold;
		}
	}

	.tbody tr:last-child > td {
		border-bottom: none;
	}

	.mobile-cell{
		display: table-cell;
	}

	@media screen and (max-width: 904px) {
		.mobile-cell{
			display:none;
		}
	}
}

.tbody {
	tr:nth-child(odd) {
		background-color: #EEEEEE;
	}
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}