$border-color: #333333;

.table {
	width: 100%;
	border: 1px solid $border-color;
  border-radius: 7px;
  border-spacing: 0;
	border-collapse: separate;
	box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);

	td, th {
    border-bottom: 1px solid $border-color;
		border-right: 1px solid $border-color;
    padding: 0.7rem;

		&:last-child {
			display: table-cell;
			border-right: none;
			white-space: nowrap;

			@media screen and (max-width: 1080px) {
				display: none;
			}
		}
	}

	td {
		text-align: left;

		&:nth-of-type(1) {
			text-align: center;
		}
	}

	tr:first-child {
		border-top: 1px solid $border-color;
	}

	.thead {
		background-color: #6c7ae0;
		color: white;

		td {
			font-weight: bold;
			border: none;
		}
	}

	.tbody tr:last-child > td {
		border-bottom: none;
	}

	.mobile-cell{
		display: table-cell;
	}

	@media screen and (max-width: 904px) {
		.mobile-cell{
			display:none;
		}
	}
}

.tbody {
	tr:nth-child(odd) {
		background-color: #EEEEEE;
	}
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	margin: -0.7rem 0 1.5rem;
}