.app {
	display: flex;
	justify-content: center;
	padding: 2rem;
	color: #333333;
}

.content {
	max-width: 1440px;
	width: 100%;
}

a {
	color: blue;
	text-decoration: underline;
	&:hover {
		color: darkblue;
		cursor: pointer;
	}
}