@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');

.app {
	display: flex;
	justify-content: center;
	padding: 2rem;
	color: #333333;
	font-family: 'Inter', sans-serif;
}

.content {
	max-width: 1440px;
	width: 100%;
}

button {
	color: blue;
	text-decoration: underline;
	&:hover {
		color: darkblue;
		cursor: pointer;
	}
}